<% layout("layouts/boilerplate") %>
<div class="col-md-6 offset-md-3 bg-light rounded shadow-lg p-3">
    <% if (update_info) { %>
        <div class="alert alert-success" role="alert"><%= update_info %></div>
    <% } %>

    <% if (sign_in) { %>
        <div class="alert alert-success" role="alert"><%= sign_in %></div>
    <% } %>

    <div class="mb-3">
        <img src="<%= user.profilePicture.url %>" alt="" class="img-thumbnail rounded-circle"
             style="width: 240px; height: 240px; object-fit: cover;">
    </div>

    <p class="header display-6"><%= user.username %> <a class="btn btn-primary" href="/profile/edit"
                                                        role="button">Профильді өзгерту</a>
    </p>

    <% if (user.email) { %>
        <p><strong>Email:</strong> <%= user.email %></p>

        <hr>
    <% } %>

    <p><strong>IQ ұпайы:</strong> <%= user.iqNumber %></p>

    <hr>

    <p><strong>Құрылған уақыты:</strong> <%= user.registrationDate %></p>

    <% if (annotations.length > 0) { %>
        <hr>

        <p><strong>Пайдаланушы аннотациялары:</strong></p>

        <ul class="list-group mb-3" start="<%= start %>">
            <% for (let i = 0; i < annotations.length; i++) { %>

                <li class="list-group-item"><%= start + i %>. <%= annotations[i].content %> <a
                            href="/poems/<%= annotations[i].poem_id %>"
                            class="text-muted"><%= annotations[i].title %></a>
                </li>

            <% } %>
        </ul>

        <div aria-label="Page navigation example">
            <ul class="pagination pagination-sm flex-sm-wrap">
                <% if (page > 1) { %>
                    <li class="page-item"><a class="page-link" href="/profile?page=<%= page - 1 %>">Алдыңғы</a></li>
                <% } else { %>
                    <li class="page-item disabled"><a class="page-link" href="#">Алдыңғы</a></li>
                <% } %>

                <% for (let i = 1; i <= numberOfPages; i++) { %>
                    <% if (i === page) { %>
                        <li class="page-item active"><a class="page-link" href="/profile?page=<%= i %>"><%= i %></a>
                        </li>
                    <% } else { %>
                        <li class="page-item"><a class="page-link" href="/profile?page=<%= i %>"><%= i %></a></li>
                    <% } %>
                <% } %>

                <% if (page < numberOfPages) { %>
                    <li class="page-item"><a class="page-link" href="/profile?page=<%= page + 1 %>">Келесі</a></li>
                <% } else { %>
                    <li class="page-item disabled"><a class="page-link" href="#">Келесі</a></li>
                <% } %>
            </ul>
        </div>
    <% } else { %>
        <hr>

        <p>Пайдаланушы әлі аннотация қосқан жоқ</p>
    <% } %>
</div>