<% layout("layouts/boilerplate") %>
<div class="col-md-6 offset-md-3 bg-light rounded shadow-lg p-3">
    <div class="mb-3">
        <img src="<%= user.profilePicture.url %>" alt="" class="img-thumbnail rounded-circle"
             style="width: 240px; height: 240px; object-fit: cover;">
    </div>

    <% if (update_info) { %>
        <div class="alert alert-success" role="alert"><%= update_info %></div>
    <% } %>

    <% if (sign_in) { %>
        <div class="alert alert-success" role="alert"><%= sign_in %></div>
    <% } %>

    <p class="display-5">Пайдаланушы: <%= user.username %> <a class="btn btn-primary" href="/profile/edit"
                                                              role="button">Профильді өзгерту</a>
    </p>

    <p><strong>Құпиясөз:</strong> <%= user.password %></p>

    <hr>

    <p><strong>Email:</strong> <%= user.email %></p>

    <hr>

    <p><strong>Роль:</strong> <%= user.role %></p>

    <hr>

    <p><strong>IQ ұпайы:</strong> <%= user.iqNumber %></p>

    <hr>

    <p><strong>Құрылған уақыты:</strong> <%= user.registrationDate %></p>

    <hr>

    <p><strong>Пайдаланушы аннотациялары:</strong></p>

    <ul class="list-group">
        <% for (let i = 0; i < annotations.length; i++) { %>

            <li class="list-group-item"><%= annotations[i].content %> <a href="/poems/<%= annotations[i].poem_id %>"
                                                                         class="text-muted"><%= annotations[i].title %></a>
            </li>

        <% } %>
    </ul>
</div>