<% layout("layouts/boilerplate") %>
<form action="/poems/new" method="post" class="col-sm-6 offset-sm-4">
    <p class="display-5">Жаңа поэема қосу</p>

    <input type="hidden" name="id" value="<%= id %>">

    <div class="form-group mb-3 row">
        <label for="title" class="col-sm-3 col-form-label">Poem name</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="title" name="title" placeholder="Poem name" required
            <% if (poem) { %>
                   value="<%= poem.title %>"
                    <% } %>
            ></div>
    </div>

    <div class="form-group mb-3 row">
        <label for="authors" class="col-sm-3 col-form-label">Authors: </label>

        <div class="col-sm-9">
            <select class="form-control" id="authors" name="author" required>
                <option value="">Select author</option>
                <% authors.forEach(function(author) { %>
                    <option value="<%= author._id %>"
                    <% if (poem && compareObjectIds(author._id, author._id)) { %>
                            selected
                            <% } %>
                    ><%= author.fullname %></option>
                <% }) %>
            </select>
        </div>
    </div>

    <div class="form-floating mb-3">
                <textarea
                        class="form-control"
                        placeholder="Leave a poem here"
                        name="poem"
                        id="floatingTextarea"
                        style="height: 250px;"
                        required
                >
                    <% if (poem) { %><%= poem.poem %>
                    <% } %>
                </textarea>
        <label for="floatingTextarea">Poem</label>
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>
</form>
