<% layout("layouts/boilerplate") %>
<div class="row">

    <div class="col-md-6 offset-md-3">

        <p class="display-3" onclick="location.href='/poems/<%= poem._id %>';"
           style="cursor: pointer;"><%= poem.title %>
            <a class="btn btn-primary" href="/annotations/new?poem_id=<%= poem.id %>" role="button">Аннотация
                қосу</a>
            <% if (poem.canEdit) { %>
                <a class="btn btn-danger" href="/poems/delete?id=<%= poem.id %>" role="button">Жою</a>
                <a class="btn btn-secondary" href="/poems/edit?id=<%= poem.id %>" role="button">Өзгерту</a>
            <% } %>

            <% if (isLogged) { %>
                <% if (liked) { %>
                    <a class="btn btn-danger" href="/poems/like?id=<%= poem.id %>" role="button">Unlike</a>
                <% } else { %>
                    <a class="btn btn-primary" href="/poems/like?id=<%= poem.id %>" role="button">Like</a>
                <% } %>
            <% } %>
        </p>

        <p class="display-6"><%= poem.authorName %></p>

        <% for (let j = 0; j < poem.array.length; j++) { %>
            <% if (poem.array[j].trim().length === 0) { %>
                <br>
            <% } else { %>
                <% if (poem.annotations[j] === "Бүл жолға әлі аннотация жоқ") { %>
                    <p data-bs-toggle="modal"
                       data-bs-target="#exampleModal<%= j %>"><%= poem.array[j] %></p>
                <% } else { %>
                    <p data-bs-toggle="modal" data-bs-target="#exampleModal<%= j %>">
                        <span class="custom-green"><%= poem.array[j] %></span>
                    </p>
                <% } %>
                <div class="modal fade" id="exampleModal<%= j %>" tabindex="-1"
                     aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Бұл аннотация</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body"><%= poem.annotations[j] %></div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Жабу
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>
        <% } %>

    </div>

</div>