<% layout("layouts/boilerplate") %>
<div class="row">
    <div class="col-md-6">
        <% if (update_info) { %>
            <div class="alert alert-success" role="alert"><%= update_info %></div>
        <% } %>

        <% if (delete_info) { %>
            <div class="alert alert-danger" role="alert"><%= delete_info %></div>
        <% } %>

        <p class="header display-3">Бүкіл авторлар</p>

        <ul class="list-group mb-3">
            <% for (let i = 0; i < authors.length; i++) { %>

                <li class="list-group-item" onclick="location.href='/authors/<%= authors[i]._id %>';"
                    style="cursor: pointer;"><%= authors[i].fullname %>
                    <% if (authors[i].canEdit) { %>
                        <a class="btn btn-danger" href="/authors/delete?id=<%= authors[i].id %>"
                           role="button">Жою</a>
                        <a class="btn btn-secondary" href="/authors/new?id=<%= authors[i].id %>" role="button">Өзгерту</a>
                    <% } %>
                </li>

            <% } %>
        </ul>

        <div aria-label="Page navigation example">
            <ul class="pagination pagination-sm flex-sm-wrap">
                <% if (page > 1) { %>
                    <li class="page-item"><a class="page-link" href="/poems?page=<%= page - 1 %>">Алдыңғы</a></li>
                <% } else { %>
                    <li class="page-item disabled"><a class="page-link" href="#">Алдыңғы</a></li>
                <% } %>

                <% for (let i = 1; i <= numberOfPages; i++) { %>
                    <% if (i === page) { %>
                        <li class="page-item active"><a class="page-link" href="/authors?page=<%= i %>"><%= i %></a></li>
                    <% } else { %>
                        <li class="page-item"><a class="page-link" href="/authors?page=<%= i %>"><%= i %></a></li>
                    <% } %>
                <% } %>

                <% if (page < numberOfPages) { %>
                    <li class="page-item"><a class="page-link" href="/authors?page=<%= page + 1 %>">Келесі</a></li>
                <% } else { %>
                    <li class="page-item disabled"><a class="page-link" href="#">Келесі</a></li>
                <% } %>
            </ul>
        </div>
    </div>
</div>