<% layout("layouts/boilerplate") %>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <p class="display-3">Бүкіл авторлар</p>

        <% if (update_info) { %>
            <div class="alert alert-success" role="alert"><%= update_info %></div>
        <% } %>

        <% if (delete_info) { %>
            <div class="alert alert-danger" role="alert"><%= delete_info %></div>
        <% } %>

        <ul class="list-group">
            <% for (let i = 0; i < authors.length; i++) { %>

                <li class="list-group-item display-6" onclick="location.href='/authors/<%= authors[i]._id %>';"
                    style="cursor: pointer;"><%= authors[i].fullname %>
                    <% if (authors[i].canEdit) { %>
                        <a class="btn btn-danger" href="/authors/delete?id=<%= authors[i].id %>"
                           role="button">Delete</a>
                        <a class="btn btn-secondary" href="/authors/new?id=<%= authors[i].id %>" role="button">Edit</a>
                    <% } %>
                </li>

            <% } %>
        </ul>
    </div>
</div>