<% layout("layouts/boilerplate") %>
<div class="col-md-6 offset-md-3 bg-light rounded shadow-lg p-3">
    <div>
        <img src="<%= author.profilePicture.url %>" alt="" class="img-thumbnail rounded-circle"
             style="width: 240px; height: 240px; object-fit: cover;">
    </div>

    <p class="header display-6"><%= author.fullname %>
        <% if (author.canEdit) { %>
            <a class="btn btn-primary" href="/authors/edit?id=<%= author.id %>" role="button">Авторды өзгерту</a>
        <% } %>
    </p>

    <hr>

    <p>Лайктар саны: <%= author.likesNum %></p>

    <% if (author.biography) { %>
        <hr>

        <div>
            Автордың биографиясы:
            <br>
            <span class="lh-lg"><%= author.biography %></span>
        </div>
    <% } %>

    <% if (poems.length > 0) { %>
        <hr>

        <p><strong>Автордың өлеңдері:</strong></p>

        <ul class="list-group mb-3">
            <% for (let i = 0; i < poems.length; i++) { %>

                <li class="list-group-item"><%= start + i %>. <a
                            href="/poems/<%= poems[i]._id %>"
                            class="text-muted"><%= poems[i].title %></a>
                </li>

            <% } %>
        </ul>

        <div aria-label="Page navigation example">
            <ul class="pagination pagination-sm flex-sm-wrap">
                <% if (page > 1) { %>
                    <li class="page-item"><a class="page-link" href="/authors/<%= author._id %>?page=<%= page - 1 %>">Алдыңғы</a></li>
                <% } else { %>
                    <li class="page-item disabled"><a class="page-link" href="#">Алдыңғы</a></li>
                <% } %>

                <% for (let i = 1; i <= numberOfPages; i++) { %>
                    <% if (i === page) { %>
                        <li class="page-item active"><a class="page-link" href="/authors/<%= author._id %>?page=<%= i %>"><%= i %></a>
                        </li>
                    <% } else { %>
                        <li class="page-item"><a class="page-link" href="/authors/<%= author._id %>?page=<%= i %>"><%= i %></a></li>
                    <% } %>
                <% } %>

                <% if (page < numberOfPages) { %>
                    <li class="page-item"><a class="page-link" href="/authors/<%= author._id %>?page=<%= page + 1 %>">Келесі</a></li>
                <% } else { %>
                    <li class="page-item disabled"><a class="page-link" href="#">Келесі</a></li>
                <% } %>
            </ul>
        </div>
    <% } else { %>
        <hr>

        <p>Автордың әлі өлеңі қосылған жоқ</p>
    <% } %>
</div>